<%= form_tag(@survey, :url => admin_surveys_path, :html => { :method => :post , id: "InfroText", class: "form-horizontal" }) do %>
  <div class="modal-body" align="left">
    <div style="display:inline-block;">
      Name : <input id="name" name="name" type="text" placeholder="Enter wallet name" />
    </div>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-danger">No</button>
    <%= submit_tag 'Yes', :class => "btn btn-default" %>
  </div>
<% end %>